@font-face {
    font-family: 'NiseSegaSonic';
    src: URL('../font/NiseSegaSonic.TTF') format('truetype');
}

.cortina {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 200;
    animation: fadeOut .5s;
    animation-fill-mode: forwards;
}


body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    z-index: 0;
    filter: brightness(95%);
}

/* 
    ! Animación para fadeIn del vídeo, para que no poppee por la cara
*/
@keyframes fadeIn {
    10% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* 
    ! Animación para fadeIn del vídeo, para que no poppee por la cara
*/
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}

/**
 * ! Vignette para el fondo
 */
.vignette {
    z-index: 2;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 132px 69px #000;
}

.containerTexto {
    touch-action: manipulation;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoShadowContainerRow {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textoShadowRow {
    z-index: 2;
    position: relative;
    touch-action: manipulation;
    align-items: center;
    pointer-events: all;
    display: flex;
    flex-direction: row;
    transform: scale(1);
    align-items: flex-end;
}

.textoShadowRow img {
    height: 50px;
    width: auto;
    pointer-events: all;
    max-width: 90px;
    z-index: 1;
    filter: drop-shadow(0px 0px 5px white);
}

.textoShadowRow.withTransition img {
    transition: .2s
}

.textoShadowRow img:hover {
    z-index: 3;
    transform: scale(1.1);
    transition: .2s;
}

.textoShadowRow img:active {
    transition: .05s;
    transform: scale(1.3);
}

.textoShadowRow>.textoLetra.letraS {
    height: 55px;
    margin-right: -14px;
}

.textoShadowRow>.textoLetra.letraH {
    margin-right: -14px;
}

.textoShadowRow>.textoLetra.letraD {
    margin-right: -3px;
}

.textoShadowRow>.textoLetra.letraO {
    margin-right: -2px;
}

.ringClass {
    width: 90px;
    position: absolute;
    z-index: 1;
    animation: fall 3s ease-in-out;
    animation-fill-mode: forwards
}

.ringCounter {
    font-family: 'NiseSegaSonic';
    color: white;
    z-index: 5;
    position: absolute;
    animation: fallUpwards .5s ease-out;
    animation-fill-mode: forwards;
    font-size: 22px;

    color: rgb(139, 139, 139);
    -webkit-text-stroke: 5px #7e0000;
    paint-order: stroke fill
}

@keyframes fallUpwards {
    0% {
        transform: translateY(0px);
    }

    100% {
        opacity: 0%;
        transform: translateY(-30px);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(calc(3000px));
    }
}

.noEvents {
    pointer-events: none;
}