/* Reloj */
#clock {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: white;
    font-size: 36px;
    font-family: 'Courier', monospace;
    z-index: 5;
}

/* Contenedor padre de la searchBar */
.searchBar {
    z-index: 5;
    pointer-events: none;
    transition: opacity 0.2s, backdrop-filter 0.2s;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.searchBar::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transition: backdrop-filter 0.2s;
}

.searchBar:has(#searchBarInput:focus)::before {
    backdrop-filter: brightness(80%) blur(5px);
}

/* Contenedor del input y la lupa */
.searchBarContainer {
    z-index: 4;
    pointer-events: all;
    display: flex;
    align-items: center;
    height: 25px;
    aspect-ratio: 10/1;
    font-size: 15px;
    position: absolute;
    bottom: 10%;
    gap: 5px;
    background-color: rgba(0, 0, 0, 0.475);
    backdrop-filter: blur(2px);
    color: rgba(255, 255, 255, 0.742);
    border: 0;
    border-radius: 10px;
    padding: 10px;
    transition: transform 0.2s, bottom 0.2s, backdrop-filter 0.2s, background-color 0.2s, box-shadow 0.2s;
}

.searchBarContainer>svg {
    width: 10%;
}

.searchBarContainer:has(#searchBarInput:focus) {
    transform: scale(1.2);
    bottom: 50%;
    backdrop-filter: blur(8px);
    background-color: rgba(0, 0, 0, 0.589);
    box-shadow: 0 0 20px black;
}

/* Input buscador */
#searchBarInput {
    font-size: 14px;
    z-index: 4;
    width: 90%;
    background: transparent;
    color: rgba(255, 255, 255, 0.742);
    border: 0;
    height: 100%;
}

#searchBarInput:focus {
    outline: none;
}

#searchBarInput::placeholder {
    color: rgba(255, 255, 255, 0.779);
}

/* Lupa */
.lupaVector {
    cursor: pointer;
    filter: invert(90%);
}