@font-face {
    font-family: 'NiseSegaSonic';
    src: URL('../font/NiseSegaSonic.TTF') format('truetype');
}

:root {
    --sonic-blue: rgb(49, 49, 185);
    --default-color: 0deg;
}

body {
    background-color: black;
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#backgroundVideo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    filter: brightness(110%);
}

.gravityDiveContainer {
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.gravityDot {
    object-fit: contain;
    width: auto;
    height: 0px;
    aspect-ratio: 1/1;
    border-radius: 100%;
    z-index: 5;
    mix-blend-mode: difference;
    background-color: rgb(255, 255, 255);
    animation: gravityDive 2s;
    animation-fill-mode: forwards;
    pointer-events: none;
    position: absolute;
    backdrop-filter: brightness(80%);
}

@keyframes gravityDive {
    0% {
        height: 0px;
    }

    25% {
        height: 100%;
    }

    90% {
        scale: 500%;
    }

    100% {
        scale: 400%;
        height: 100%;
        opacity: 0;
    }
}

.technoLineContainer {
    position: absolute;
    width: 100%;
    height: .5%;
    z-index: 1;
    top: 5%;
    background-color: transparent;
    opacity: 100%;
    overflow: visible;
}

.technoLine {
    transform: translateX(-1.5vw);
    animation: technoGradient 4.5s linear infinite;
    animation-fill-mode: forwards;
    height: 100%;
    width: 50%;
    position: absolute;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 1) 0%, rgba(0, 138, 255, 1) 35%); */
    background: rgb(0, 116, 183);
    filter: brightness(150%);
    background-size: contain;
}

.technoBlur {
    mix-blend-mode: lighten;
    filter: blur(5px) brightness(100%) !important;
}

.technoLine img {
    position: relative;
    float: right;
    height: 750%;
    width: auto;
    top: -317%;
    right: -1vw;
}

@keyframes technoGradient {

    0% {
        width: 0%;
    }

    20% {
        width: 0%;
    }

    30% {
        width: calc(120% + 25px);
    }

    35% {
        opacity: 1;
    }

    70%,
    100% {
        opacity: 0;
        width: calc(120% + 50px);
    }
}

.backgroundGradient, .backgroundWheel {
    z-index: -1;
}

.backgroundText {
    z-index: 0;
}

.backgroundLine {
    z-index: 0;
}

.backgroundGradient {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgb(3, 14, 62) 25%, rgb(3, 14, 62) 100%); */
    background: url("../images/riders/background2.png");
    background-size: cover;
}

.backgroundWheel {
    position: absolute;
    bottom: -25%;
    left: 0;
    width: auto;
    height: 55%;
    object-fit: contain;
    animation: spinWheel 10s linear infinite;
    mix-blend-mode: lighten;
    opacity: .1;
}

@keyframes spinWheel {
    from {
        transform: rotateX(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.backgroundLine {
    position: absolute;
    animation: spinLine 2s infinite linear;
    z-index: 4;
    object-fit: contain;
    width: auto;
    height: 100%;
    width: 100%;
    aspect-ratio: 1 / 1;
    align-self: center;
    justify-self: anchor-center;
    pointer-events: none;
}

@keyframes spinLine {
    /*     0% {
        transform: rotateX(160deg) rotateY(-76deg) rotateZ(-0deg);
    }

    50% {
        transform: rotateX(160deg) rotateY(-76deg) rotateZ(-180deg);
    }

    100% {
        opacity: 1;
        transform: rotateX(160deg) rotateY(-76deg) rotateZ(-360deg);
    } */

}

.backgroundText {
    width: 100%;
    height: 100%;
    background-position-x: 10vw;
    animation: loopScroll 20s infinite;
    animation-timing-function: linear;
    position: absolute;
    object-fit: cover;
    object-position: top;
    overflow: visible;
    background-image: url(../images/riders/background_lowres.png);
    background-size: contain;
    background-repeat: repeat-y;
    opacity: .4;
    background-blend-mode: overlay;
    filter: brightness(200%);
    opacity: .25;
}

.textBlur {
    filter: blur(5px) brightness(500%) saturate(250%) contrast(200%)
}

.colorMask {
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
    background: rgb(0, 234, 255);
    mix-blend-mode: color;
}

@keyframes loopScroll {

    from {
        background-position-y: 0px;
    }

    to {
        background-position-y: calc(-100vh);
    }

}

/**
 * ! Vignette para el fondo
 */
.vignette {
    z-index: 1;
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 200px #000;
}

/* 
    ! Animación para fadeIn del vídeo, para que no poppee por la cara
*/
@keyframes fadeIn {
    10% {
        opacity: 0%;
    }

    100% {
        opacity: 100%;
    }
}

/* 
    ! Animación para fadeIn del vídeo, para que no poppee por la cara
*/
@keyframes fadeOut {
    0% {
        opacity: 100%;
    }

    100% {
        opacity: 0%;
    }
}


.containerTexto {
    touch-action: manipulation;
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.textoRidersRow {
    z-index: 4;
    touch-action: manipulation;
    pointer-events: all;
    scale: 0.3;
    object-fit: cover;
    display: flex;
    flex-direction: row;
    filter: drop-shadow(2px 4px 6px black);
}

.fontBack {
    position: absolute;
    z-index: -1;
    transform: scale(.85) translate(-233px, -59px);
    filter: drop-shadow(0 0 2rem rgba(255, 255, 255, 0.212));
}

.textoRidersRow div {
    height: 210px;
    width: 275px;
}

.textoRidersRow div:not(:first-of-type) {
    margin-left: -31px;
}

.textoRidersRow div.containerLetra:has(>.letraO) {
    width: 290px;
    margin-left: -37px;
}

.textoRidersRow div.containerLetra:has(>.letraN) {
    width: 330px;
}

.textoRidersRow div.containerLetra:has(>.letraI) {
    width: 180px;
    margin-left: -56px;
}

.textoLetra {
    margin-top: -63px;
    margin-left: -72px;
    z-index: 2;
}

.textoLetra.letraN {
    margin-left: -62px;
}

.textoLetra.letraI {
    margin-left: -139px;
}

.textoRidersRow.withTransition {
    transition: .6s ease-in-out;
}

.textoRidersRow img {
    user-select: none;
    pointer-events: none;
}

.textoRidersRow>div>img.withTransition {
    transition: .2s;
}

.textoRidersRow div:hover>img {
    z-index: 3;
    transform: scale(1.2);
    transition: .2s ease;
}

.textoRidersRow div:active>img {
    transition: .05s;
    transform: scale(1.5);
}

.ringClass {
    width: 90px;
    position: absolute;
    z-index: 3;
    animation: fall 3s ease-in-out;
    animation-fill-mode: forwards
}

.ringCounter {
    pointer-events: none;
    font-family: 'NiseSegaSonic';
    color: white;
    z-index: 5;
    position: absolute;
    animation: fallUpwards .5s ease-out;
    animation-fill-mode: forwards;
    font-size: calc(100% + 10px);

    color: gold;
    -webkit-text-stroke: .3rem var(--sonic-blue);
    paint-order: stroke fill
}

.noEvents {
    pointer-events: none;
}

.rankContainer {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.rankContainer>img {
    height: 15%;
    width: auto;
    aspect-ratio: 1;
    pointer-events: none;
}

.scoreRank {
    z-index: 5;
    width: 5rem;
    position: absolute;
    bottom: 25%;
    animation: introRank 6s ease-in;
    animation-fill-mode: forwards;
}

@keyframes introRank {
    0% {
        transform: scale(300%) rotate(0deg);
        opacity: 0%;
    }

    10% {
        transform: scale(100%) rotate(-15deg);
        opacity: 100%;
    }

    15% {
        transform: scale(100%) rotate(-15deg);
        opacity: 100%;
    }

    100% {
        transform: scale(100%) rotate(-15deg) translate(-50px, 200px);
        opacity: 0%;
    }
}

@keyframes fallUpwards {
    0% {
        transform: translateY(0px);
    }

    100% {
        opacity: 0%;
        transform: translateY(-30px);
    }
}

@keyframes fall {
    0% {
        transform: translateY(-100px);
    }

    100% {
        transform: translateY(calc(3000px));
    }
}